body{
    background: #fff;
    font-family: "Rubik", "Arial", sans-serif;
    width: 100%;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(46, 45, 45);
}

.text{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}