.crud-container{
    width: 100%;
}

.crud-form{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.crud-form h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: rgb(46, 45, 45);
    margin-bottom: 60px;
}

.crud-form label{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;;
    margin-bottom: 7px;
}

.crud-form input{
    width: 97.7%;
    margin-bottom: 30px;
}

.crud-form textarea{
    width: 98%;
    max-width: 98%;
    min-width: 98%;
    margin-bottom: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 7px;
}

.crud-form > .create-button{
    color: white;
    border: solid 1px rgb(44, 107, 241);
    border-radius: 5px;
    background-color: rgb(44, 107, 241);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 97.7%;
}

.crud-form > .edit-button{
    color: white;
    border: solid 1px rgb(44, 107, 241);
    border-radius: 5px;
    background-color: rgb(44, 107, 241);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 97.7%;
}

.modal-content{
    display: none;
    width: 100%;
    margin-bottom: 50px;
}

.modal-body{
    width: 100%;
    background-color: rgb(230, 48, 48);
    border: solid 1px rgb(230, 48, 48);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.modal-text{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.close{
    color: white;
    cursor: pointer;
}