.main-section-container{
    width: 950px;
    display: flex;
    align-items: center;
}

.main-section__products{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}

.main-section__products--product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    border: solid 2px rgb(221, 217, 217);
    border-radius: 5px;
    margin: 0 30px 30px 0;
}

.main-section__products--product:nth-child(3n){
    background-color: #fff;
}

.main-section__products--product img{
    width: 230px;
    margin: auto;
}

.product-name{
    margin-left: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #4F5665;
}

.product-description{
    margin-left: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.product-buttons{
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-buttons--edit{
    background-color: rgb(44, 107, 241);
    border: solid 1px rgb(44, 107, 241);
    border-radius: 5px;
    color: #fff;
    padding: 5px 40px;
    margin-right: 10px;
    font-size: 14px;
}

.product-buttons--edit:hover{
    background-color: rgb(0, 64, 201);
}

.product-buttons--remove{
    background-color: rgb(230, 48, 48);
    border: solid 1px rgb(230, 48, 48);
    border-radius: 5px;
    color: #fff;
    padding: 5px 27px;
    margin-right: 10px;
    font-size: 14px;
}

.product-buttons--remove:hover{
    background-color: rgb(208, 7, 7);
}